* {
       color:lightgray;
       border: 0;
       margin: 0;
       font-family: 'Ubuntu', sans-serif;;
}
body {
       background-image: url("ciudad.jpg");
       background-color: rgb(20, 20, 20) ;
       background-attachment: fixed;
       background-size: 100%;
       justify-content: center;

}
#container{
       background-color: rgba(0, 0, 0, 0.752);
       width: 60% ;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative ; left: 233px; top: 67px;
       padding: 8px;

}

h1{
       color: cadetblue;
       line-height: 50px;

}
h2 {
       color: cadetblue;
       line-height: 50px;
}
ul{
       line-height: 30px;
       text-align: left;
}

